<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title>Users Details</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <!-- Users show.html inserted into main.html -->
    <div class="row">
        <aside class="col-xs-4">
            <section>
                <h1>
                    <img th:src="${loginUserImage}" th:alt="${user.name}" class="gravatar"/>
                    <span th:text="${user.name}">AAA</span>
                </h1>
            </section>
            <section>
                <div th:include="shared/_stats :: stats">stats</div>
            </section>
        </aside>
        <div class="col-xs-8">
            <ol>
                <h3>Followers</h3>
            </ol>
            <ol class="microposts">
                <span th:each="user, stat : ${followers}">
                    <li>
                        <img th:src="${user.image}" width="52" height="52" th:alt="${user.name}"/>
                        <span class="user">
                            <a th:href="@{/user/show/} + ${user.id}" th:text="${user.name}">AAA</a>
                        </span>
                    </li>
                </span>
            </ol>

            <!-- Pagination Bar -->
            <span th:include="shared/_pagination :: pagination">pagination</span>
        </div>

    </div>
    <a class="btn btn-primary btn-small" href="/">
        Back to Home
    </a>
    <!-- Users show.html inserted into main.html End -->
</div>
</body>
</html>