<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title >follow_form</title>
</head>
<body>
	<div th:fragment="follow_form" th:remove="tag">
		<!-- Users _follow_form.html included into show.html -->
		#{if !controllers.Security.check_current_user(user.id)}
		    <div id="follow_form">
		        #{if current_user.is_following(user.id)}
		            <div th:include="Users/_unfollow :: unfollow">unfollow</div>
		        #{/if}
		        #{else}
		            <div th:include="Users/_follow :: follow">follow</div>
		        #{/else}
		    </div>
		#{/if}
		<!-- Users _follow_form.html included into show.html End -->
    </div>
</body>
</html>