<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title >paging</title>
</head>
<body>
	<div th:fragment="paging" th:remove="tag">
	<!-- Users _paging.html included into list.html -->
	<script type="text/javascript">
	$( document ).ready(function() {
	$('.pagination .disabled a, .pagination .active a').on('click', function(e) {
		e.preventDefault();
		});
	});
	</script>
	
	<nav class="text-center">
		<ul class="pagination">
		<li #{if hasPrevious !=true}class= "disabled"#{/if} ><a href="@{Users.index(currentPage-1)}">Previous Page</a></li>

		#{if allPage > 0} #{list items:1..allPage, as:'page' }
			<li #{if currentPage == page}class="active"#{/if}><a href="@{Users.index(page)}">${page}</a></li> #{/list} 
		#{/if}
		<li #{if hasNext !=true}class= "disabled"#{/if} ><a href="@{Users.index(currentPage+1)}">Next Page</a></li>
		</ul>
	</nav>
	<!-- Users _paging.html included into list.html End -->
    </div>
</body>
</html>