<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main"
>
<head>
	<title>Edit User</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
	<!-- Users edit.html inserted into main.html -->
		<h1>Update your profile</h1>
		<div class="row">
		    <div class="col-md-6 col-md-offset-3">	
		    #{ifErrors}
		    <div id="error_explanation">
		      <div class="alert alert-danger alert-dismissible" role="alert">
		          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		          The form contains ${errors.size() - 1} errors.
		      </div>
		      <ul>
			#{errors}
			#{if error.key != 'user'}
			     <li>${error}</li>
			#{/if}
			#{/errors}
		       </ul>
		    </div>
			#{/ifErrors}
		    
			#{form @Users.update(), class:'form-horizontal'}
				<input type="text" name="user.id" value="${user.id}" hidden/>
				<div>
				    <label for="name">Name :</label>
				    <input id="name" type="text" class="form-control" name="user.name" value="${user.name}"/><br/>
					    
				    <label for="email">E-mail :</label>
				    <input id="email" type="text" class="form-control" name="user.email" value="${user.email}" disabled/><br/>
					   	
				    <label for="passwd">Password :</label>
				    <input id="passwd" type="password" class="form-control" name="user.passwd"/><br/>
				</div>
				<div class="text-center">
				  <input class="btn btn-primary btn-large" type="submit" name="submit" value="Update my account" /><br/><br/>
				</div>
			#{/form}
			<img src="${user.getGravatarURL()}" alt="${user.name}" class="gravatar"/>
			<a href="http://gravatar.com/emails">change</a>
		    </div>
		</div>		
	<!-- Users edit.html inserted into main.html End -->
	</div>
</body>
</html>